services:
  # Servicio de Producción
  - type: web
    name: impostor-app-production
    env: node
    branch: main
    buildCommand: npm install --include=dev && cd client && npm install --include=dev && npm run build
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production

  # Servicio de Staging
  - type: web
    name: impostor-app-staging
    env: node
    branch: develop
    buildCommand: npm install --include=dev && cd client && npm install --include=dev && npm run build
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: staging # Puede ser development o staging según prefieras