services:
  - type: web
    name: impostor-app
    env: node
    buildCommand: cd client && npm install && npm run build
    startCommand: node server.js
    staticPublishPath: ./client/dist
    # Configurar rutas para Firebase Auth
    routes:
      - type: rewrite
        source: /__/auth/*
        destination: /__/auth/handler